/* -------------------------------------------------------------------------*/
/* Layout */
/* line 10, ../sass/style.scss */
.container {
  *zoom: 1;
  max-width: 49em;
  _width: 49em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 23, ../sass/style.scss */
body {
  background-color: #34495e;
}

/* line 25, ../sass/style.scss */
h1 {
  font: 21px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 26, ../sass/style.scss */
h2 {
  font: 14px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 300;
  letter-spacing: 1.2px;
}

/* line 28, ../sass/style.scss */
#header {
  text-align: center;
  margin: 40px 0;
}
/* line 28, ../sass/style.scss */
#header img {
  padding-bottom: 10px;
}

/* line 30, ../sass/style.scss */
#login {
  /*margin-left:space(4,12);*/
  width: 315px;
  border-bottom: 3px #2ECC71 solid;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media screen and (max-width: 320px) {
  /* line 30, ../sass/style.scss */
  #login {
    margin-left: 0;
    width: 100%;
  }
}
/* line 36, ../sass/style.scss */
#login .loginbox {
  background-color: #FFF;
  margin-top: 15%;
  height: 350px;
}
/* line 38, ../sass/style.scss */
#login .top {
  background-color: #3498db;
  padding: 17px;
}
/* line 40, ../sass/style.scss */
#login #content form {
  margin: 10% 5%;
}
/* line 42, ../sass/style.scss */
#login #content form input[type="text"],
#login #content form input[type="password"] {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background: #f4f4f4 url(../img/login.png) no-repeat;
  border: 1px solid #c8c8c8;
  color: #777;
  font: 14px "Open Sans", sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 40px;
  width: 80%;
}
/* line 53, ../sass/style.scss */
#login #content form input[type="text"]:focus,
#login #content form input[type="password"]:focus {
  -webkit-box-shadow: #2ecc71 0px 0px 2px;
  -moz-box-shadow: #2ecc71 0px 0px 2px;
  box-shadow: #2ecc71 0px 0px 2px;
  background-color: #fff;
  border: 2px solid #2ECC71;
  outline: none;
}
/* line 59, ../sass/style.scss */
#login #username {
  background-position: 10px 15px !important;
}
/* line 60, ../sass/style.scss */
#login #password {
  background-position: 10px -48px !important;
}
/* line 62, ../sass/style.scss */
#login #content form input[type="submit"] {
  font: 14px "Open Sans", sans-serif;
  background-color: #2ECC71;
  border: 0;
  width: 180px;
  padding: 13px 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 35px 47px;
  -webkit-appearance: none;
}
/* line 63, ../sass/style.scss */
#login #content form input[type="submit"]:hover {
  border-bottom: 3px solid #28AD5E;
}
/* line 66, ../sass/style.scss */
#login label[for=remember-check] {
  font: 14px "Open Sans", sans-serif;
  color: #777;
}
